body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}
#montoTotal {
  position: fixed;
  top: 10px; 
  right: 29px; 
  background: #ffffff;
  box-shadow:  -9px 9px 17px #626060,9px -9px 17px #ffffff;
  border: 3px solid #312666; 
  border-radius: 10px;
  padding: 20px; 
}
#navbar {
  position: fixed;
  top: 10px;
  left: 29px;
  box-shadow: 0 2px 4px rgba(240, 239, 239, 0.1); 
  z-index: 1000; 
}
.custom-dropdown-toggle {
  top: 100px;
  left: 29px;
  border: none;
  color: #312666; 
  padding: 0; 
  font-size: 30px; 
}
.dropdown-menu{
  padding: 10px;
  width: 250px;
  border: 3px solid #312666;
}
.container {
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1.2);
  width: 50%;
}

h1 {
  font-family: Rockwell;
  text-align: center;
  color: #312666; 
}

h2 {
  font-family: Ubuntu;
  font-size: 1.5em; 
  margin-top: 15px;
  color: #312666;
}

p {
  color: #312666;
}

.seccion {
  border: 2px solid #312666; 
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.apartado {
  display: block;
  margin-bottom: 10px;
  color: #312666;
}

input#nombreEmpresa {
  width: 320px;
  padding: 10px;
  font-size: 1em;
  border: 3px solid #ada3a3;
  border-radius: 5px;
  margin-bottom: 10px;
}

input#nombreEmpresa:focus {
  border-color: #312666; 
  outline: none; 
}



.resultado {
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  color: #050505; 
  font-size: 25px;
}
